/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */
 
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */


/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a
Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4
Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac
Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
 
/* Reset all styles */

* {
    color: #FFFFFF; /* #FFFFFF; */
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family: 'UbuntuMono Nerd Font';
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom:3px;
   }

window#waybar {
    background:rgba (0, 0, 0, 0.8);
}

#workspaces button {
    padding: 2px 0px;
    border-bottom: 0px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
    margin-top:2px;
}

#workspaces button.focused {
    border-color: #FFFFFF;
}

#mode {
    color: #FFFFFF;
}

#clock, #battery, #cpu, #memory, #idle_inhibitor, #temperature, #custom-keyboard-layout, #language, #keyboard-state, #backlight, #bluetooth, #network, #pulseaudio, #mode, #disk, #tray, #window, #custom-menu, #custom-gpu, #custom-clipboard, #custom-uptime, #custom-pacman, #custom-playerctl2, #custom-wf-recorder2, #custom-weather, #custom-weather2, #custom-poweroff {
    padding: 0 3px;
    border-bottom: 0px;
    border-style: solid;
}
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#clock {
    color: #FFFFFF;
}

#backlight {
    color: #FFFFFF;
}

#battery {
    color: #FFFFFF;
}

#battery.charging {
    color: #FFFFFF;
}

@keyframes blink {
    to {
        color: #FFFFFF;
        background-color: #FFFFFF;
    }
}

#custom-menu {
    color:#FFFFFF;
}

#custom-clipboard {
    color:#FFFFFF;
}

#custom-uptime {
	color:#FFFFFF;
}

#custom-poweroff {
	color:#FFFFFF; /* #BD1226; #A42E2E;  #ff0000; */
}

#bluetooth {
	color:#FFFFFF;
}

#custom-weather {
	color:#FFFFFF;
}

#custom-weather2 {
	color:#FFFFFF;
}

#disk {
	color:#FFFFFF;
}

#language {
	color:#FFFFFF;
}

#keyboard-state {
	color:#FFFFFF;
}

#custom-pacman {
	color:#FFFFFF;
}

#cpu {
    color:#FFFFFF;
}

#memory {
    color: #FFFFFF;
}

#network.disabled {
    color: #FFFFFF;
}

#network{
    color: #FFFFFF;
}

#network.disconnected {
    color: #FFFFFF;
}

#custom-gpu {
    color: #FFFFFF;
}

#custom-playerctl2 {
    color: #FFFFFF;
}

#custom-wf-recorder2 {
    color: #FFFFFF;
}

#pulseaudio {
    color: #FFFFFF;
}

#pulseaudio.muted {
    color: #FFFFFF;
}

#temperature {
    color: #FFFFFF;
}

#temperature.critical {
    color: #FFFFFF;
}

#idle_inhibitor {
    color: #FFFFFF;
}

#tray {
    color: #FFFFFF;
    padding-top: 5px;
}

#custom-launcher,#custom-power{
    border-style: hidden;
    margin-top:2px;    
}

#window{
    border-style: hidden;
    margin-top:1px;  
}    
#mode{
    margin-bottom:3px;
}

#custom-keyboard-layout{
    color: #FFFFFF;
}
